*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/* HEADER */

header
{
   height:50px;
   border-bottom: 1px solid black;
   display: flex; 
}

/* HEADER PARTIE GAUCHE*/

#logo
{
    margin: 10px;
}

#header-sauf-logo
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#partir
{ 
    width: 225px;
    font-size: 13px;
    padding: 7px;
    margin: 9px 0 9px 10px;
    text-align: center;
    border: 1px solid #E3E3E3;
    border-radius: 2px; 
}

input::placeholder
{
    color:#191D1F;
}

#partir:hover
{
    border: 1px solid rgb(128, 128, 128);
}

#boutton1
{
    width: 100px;
    margin-top: 9px;
    margin-left: -5px;
    padding: 7px;
    background-color: white;
    color: #E85710;
    border: 1px solid #E3E3E3;
    border-radius: 0px 3px 3px 0px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

#boutton1:hover
{
    border: 1px solid #E85710 ;
}

/* HEADER PARTIE DROITE*/

#header-sauf-logo li
{
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

#header-sauf-logo a
{
    text-decoration: none;
    font-size: 15px;
}

#header-sauf-logo a:not(#boutton2)
{
    color: rgb(104, 100, 100);
}

#header-sauf-logo a:hover:not(#boutton2)
{
    color: rgb(145, 145, 145);  
}

#header-sauf-logo img
{
    margin-right: 8px;
    margin-top: 17px;
    float: left; 
}

#boutton2
{
    background-color:   #F7A800 ;
    border-radius: 2px;
    color: white;
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#boutton2:hover
{
    background-color: rgba(150, 80, 15, 0.986);
    cursor: pointer;
}

/* COMMUNAUTE */

#communaute
{
    background: url('images/maison6.jpg') center;
    width: 100%;
    text-align: center;
    height: 500px;
}

#communaute h1
{
    padding-top: 180px;
    padding-bottom: 40px;
    font-size: 42px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.856);
    text-shadow: 3px 3px 1px black;
    text-align: center;
}

#boutton3
{
    width: 253px;
    padding: 13px;
    text-decoration: none;;
    font-size: 18px;
    background-color:   #F7A800 ;
    border-radius: 2px;
    color: white;
    text-align: center;
 
}

#boutton3:hover
{
    background-color: rgba(150, 80, 15, 0.986);
    cursor: pointer;
}

/* STATISTIQUES */

#statistiques
{
    height: 72px;
    background-color: #F1F1F1; 
    
}

#statistiques ul
{
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 5%;
}

#statistiques li
{
    list-style-type: none;
    padding-top: 17px; 
    text-align: center;
}

.orange
{
    font-size: 22px;
    color: #F7A800 ;
    font-weight: bold;
}

.gris
{
    color: #8b8b8b;
    font-size: 14px;
}

#pays
{
    padding-left:  200px;
    padding-right: 140px;
}


/* TEMOIGNAGES */

#temoignages
{
    height: 285px;
    width: 900px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 0 auto;
}

#temoignages p
{
    padding: 60px 0 39px 50px;
}

#guillemets
{
  line-height: 25px;
  quotes: initial;
}

#sarah
{
 font-weight: bold;
 font-size: 13px;
}

#desormais
{
    font-size: 13px;
    font-weight: bold;
    color: #8b8b8b;  
}

#temoignages a
{
    text-decoration: none;
    color: #e85710;
    font-size: 12px;
    font-weight: bold;
}

#temoignages a:hover
{
    color: black;
}

q
{
    quotes: '"' '"';
}

/* ECHANGE */

#echange
{
    height: 400px;
    background-color: #F1F1F1;
    text-align: center;

}

#echange h2
{
    padding-top: 74px;
    font-size: 32px;

}

#echange p
{
    color: #8b8b8b;
    font-size: 15px;
    font-weight: normal;
}

/* ARGUMENTS */

#arguments ul
{
   display: flex;
   justify-content: center;
}


#arguments li
{
    width: 300px;
    height: 200px;
    list-style-type: none;
    padding-right: 40px;
    padding-top: 102px;
    margin-top: 40px;
    line-height: 20px;
}

#arguments h3
{
    font-size: 15px;
    padding-bottom: 12px;
}

#globe
{
    background: url(images/globe.jpg) no-repeat top center;
}

#pig
{
    background: url(images/pig.jpg)no-repeat top center;
}

#yoga
{
    background: url(images/yoga.jpg)no-repeat top center;
}

/* ANNONCE */

#annonce
{
    height: 958px;
    text-align: center;
}

#annonce h2
{
    padding-top: 74px;
    font-size: 35px;
}

#annonce p
{
    color: #8b8b8b;
    font-size: 15px;
    font-weight: normal;
}

#dessin1
{
    margin-top: 60px;
    margin-bottom: 90px;  
}

/* ETAPES */

#etapes
{
    text-align: left;
}

#etapes ul
{
   display: flex;
   justify-content: center;
}


#etapes li:not(.abo)
{
    width: 255px;
    list-style-type: none;
    padding-right: 40px;
    margin-top: 50px;
    line-height: 20px;
}

#etapes h3
{
    font-size: 15px;
    padding-bottom: 12px;
}

#etapes li p
{
    font-size: 14px;
}

#abonnement
{
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   margin-bottom: 33px;

}

.abo
{
    list-style-type: square;
    font-size: 15px;
    padding-top: 2px;
}

#annonce a
{
    text-decoration: none;
    color: #e85710;
    border: 1px solid #e85710;
    border-radius: 5px;
    width: 165px;
    font-size: 14px;
    padding: 8px;
    font-weight: bold;
}

#annonce a:hover
{
    color: #191D1F;
    border-color: #191D1F;
}

/* GUESTPOINTS */

#guest
{
    height: 509px;
    background-color: #F1F1F1;
    text-align: center;
}

#guest h2
{
    padding-top: 74px;
    font-size: 32px;
}

#guest p
{
    color: #8b8b8b;
    font-size: 15px;
    font-weight: normal;
    padding-top: 8px;
}

#membre
{
    width: 950px;
    margin: 58px auto;
    text-align: center;
    display: flex;
}

#membre p
{
    color: #191D1F;
    padding: 70px 30px;
    line-height: 20px; 
}

#guest a
{
        text-decoration: none;
        color: #e85710;
        border: 1px solid #e85710;
        border-radius: 2px;
        width: 145px;
        font-size: 13px;
        padding: 13px 30px;
        font-weight: bold; 
        margin-bottom: 50px;
}

/* DESTINATIONS */

#destinations
{
    height: 744px;
    text-align: center;
}

#destinations h2
{
    padding-top: 74px;
    font-size: 32px;
}

#destinations p:not(#habitants)
{
    color: #8b8b8b;
    font-size: 15px;
    font-weight: normal;
    padding-top: 8px;
    margin-bottom:30px;
}

/* VILLES */

#villes
{
    width: 1000px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}


#villes li a
{
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 30px;  
    font-weight: bold;
}

#villes li
{ 
    width: 215px;
    height: 160px;
    margin: 15px;
    list-style-type: none;
    line-height: 150px;    
}

#paris
{
    background-image: url(images/France---Paris.jpg);
}

#bordeaux
{
    background-image: url(images/Bordeaux.jpg);
}   

#azur
{
    background-image: url(images/Côte-d_azur.jpg);
}

#bretagne
{
    background-image: url(images/Brittany.jpg);
}

#espagne
{
    background-image: url(images/Spain.jpg);
}

#martinique
{
    background-image: url(images/Martinique.jpg);
}

#bali
{
    background-image: url(images/Bali.jpg);
}

#canada
{
    background-image: url(images/Canada.jpg);
}

#habitants
{
    width: 965px;
    text-align: left;
    margin: 10px auto;
    color:#191d1f ;
    font-size: 16px;
    line-height: 22px;
}

#habitants a
{
    color: #e85710;
    text-decoration: none;

}

#habitants a:hover
{
    color: #8b8b8b;
}

.gras
{
    font-weight: bold;
}
